<div class="container">
    <div class="row">

        <!-- Main Content -->

        <main class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">

            <div class="ui-block">
                <div class="news-feed-form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active inline-items" data-toggle="tab" href="03-Newsfeed.html#home-1" role="tab" aria-expanded="true">

                                <svg class="olymp-status-icon"><use xlink:href="assets/icons/icons.svg#olymp-status-icon"></use></svg>

                                <span>Story</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                            <form>
                                <div class="author-thumb">
                                    <!-- <img src="assets/img/author-page.jpg" alt="author"> -->
                                </div>
                                <div class="form-group with-icon label-floating is-empty">
                                    <textarea class="form-control" ng-model="story.story_content" placeholder="Share what you are thinking here..."></textarea>
                                </div>
                                <div class="add-options-message">
                                    <a href="03-Newsfeed.html#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                                        <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="assets/assets/icons/icons.svg#olymp-camera-icon"></use></svg>
                                    </a>
                                    <a href="03-Newsfeed.html#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                                        <svg class="olymp-computer-icon"><use xlink:href="assets/assets/icons/icons.svg#olymp-computer-icon"></use></svg>
                                    </a>

                                    <a href="03-Newsfeed.html#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                        <svg class="olymp-small-pin-icon"><use xlink:href="assets/assets/icons/icons.svg#olymp-small-pin-icon"></use></svg>
                                    </a>

                                    <button class="btn btn-primary btn-md-2" ng-click="vm.create_story(story)">Post Story</button>
                                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div id="newsfeed-items-grid">
                <div class="ui-block" ng-repeat="feed in vm.newfeed_array">
                    <article class="hentry post">

                        <div class="post__author author vcard inline-items">
                            <img src="assets/img/avatar7-sm.jpg" alt="author">

                            <div class="author-date">
                                <a class="h6 post__author-name fn" href="03-Newsfeed.html#">{{feed.user_details[0].firstname + ' ' + feed.user_details[0].lastname}}</a> shared a <a>Story</a>
                                <div class="post__date">
                                    <time class="published" datetime="2004-07-24T18:18">
										{{feed.created_on}}
									</time>
                                </div>
                            </div>
                        </div>

                        <p>{{feed.story_content}}</p>

                        <div class="post-additional-info inline-items">

                            <a ng-click="vm.like_story(feed)" class="post-add-icon inline-items">
                                <svg class="olymp-heart-icon"><use xlink:href="assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                                <span>{{feed.likers.length}}</span>
                            </a>
                            <!-- <div class="comments-shared">
                                <a href="03-Newsfeed.html#" class="post-add-icon inline-items">
                                    <svg class="olymp-speech-balloon-icon"><use xlink:href="assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>

                                    <span>0</span>
                                </a>

                                <a href="03-Newsfeed.html#" class="post-add-icon inline-items">
                                    <svg class="olymp-share-icon"><use xlink:href="assets/icons/icons.svg#olymp-share-icon"></use></svg>

                                    <span>16</span>
                                </a>
                            </div> -->


                        </div>
                    </article>
                </div>


            </div>


            <a id="load-more-button" href="03-Newsfeed.html#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>


        </main>

        <!-- ... end Main Content -->


        <!-- Left Sidebar -->

        <!-- ... end Left Sidebar -->


        <!-- Right Sidebar -->

        <aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">

            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Friend Suggestions</h6>
                    <a href="03-Newsfeed.html#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
                <h5 style="margin: 10px;" ng-hide="vm.friends_array.length"> Oops, We do not have a lot of users yet. No Friends to show at the moment </h3>
                    <ul class="widget w-friend-pages-added notification-list friend-requests" ng-show="vm.friends_array.length">
                        <li class="inline-items" ng-repeat="f in vm.friends_array">
                            <div class="author-thumb">
                                <img src="assets/img/avatar38-sm.jpg" alt="author">
                            </div>
                            <div class="notification-event">
                                <a href="03-Newsfeed.html#" class="h6 notification-friend">{{f.firstname + ' ' + f.lastname}}</a>
                                <!-- <span class="chat-message-item">8 Friends in Common</span> -->
                            </div>
                            <span class="notification-icon">
							<a ng-click="vm.follow_user(f)" ng-disabled="f.disabled" class="accept-request">
								<span class="icon-add without-text">
									<svg class="olymp-happy-face-icon"><use xlink:href="assets/icons/icons.svg#olymp-happy-face-icon"></use></svg>
								</span>
                            </a>
                            </span>

                        </li>
                    </ul>

            </div>
        </aside>

        <!-- ... end Right Sidebar -->

    </div>
</div>


<!-- Window-popup Update Header Photo -->


<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<a class="back-to-top" href="03-Newsfeed.html#">
    <img src="assets/icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>