<div class="menu-mobile menu-activated-on-click color-scheme-light">
    <div class="mm-logo-buttons-w">
        <a class="logo" href="index.html">
            <img src="img/riby-icon.svg" height="30px"></a>

        <div class="mm-buttons">
            <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
            </div>
        </div>
    </div>

    <div class="menu-and-user">
        <div class="logged-user-w">
            <div class="avatar-w">
                <img alt="" src="img/ayo.png">
            </div>

            <div class="logged-user-info-w">
                <div class="logged-user-name">Ayo Akoduba</div>

                <div class="logged-user-role">CFAO Admin</div>
            </div>
        </div>

        <ul class="main-menu">
            <li>
                <a href="boi_admin_dashboard.html">
                    <div class="icon-w">
                        <div class="ti-dashboard"></div>
                    </div>
                    <span>Dashboard</span></a>
            </li>

            <li>
                <a href="boi_user_management.html">
                    <div class="icon-w">
                        <div class="ti-location-pin"></div>
                    </div>
                    <span>Locations</span></a>
            </li>

            <li>
                <a href="boi_beneficiary_breakdown.html">
                    <div class="icon-w">
                        <div class="icon-people"></div>
                    </div>
                    <span>Members</span></a>
            </li>

            <li>
                <a href="boi_loan_performance.html">
                    <div class="icon-w">
                        <div class="icon-user-follow"></div>
                    </div>
                    <span>Admins</span></a>
            </li>

            <li>
                <a href="boi_mou_document.html">
                    <div class="icon-w">
                        <div class="icon-basket-loaded"></div>
                    </div>
                    <span>Products</span></a>
            </li>

            <li>
                <a href="boi_mou_document.html">
                    <div class="icon-w">
                        <div class="icon-docs"></div>
                    </div>
                    <span>Reports</span></a>
            </li>

            <li>
                <a href="login.html">
                    <div class="icon-w">
                        <div class="ti-power-off"></div>
                    </div>
                    <span>Log Out</span></a>
            </li>


        </ul>
    </div>
</div>

<div class="desktop-menu menu-side-w menu-activated-on-click">
    <div class="logo-w">
        <a class="logo" href="index.html">
            <img src="img/riby-logo.svg"></a>
    </div>

    <div class="menu-and-user">
        <div class="logged-user-w">
            <div class="avatar-w">
                <img alt="" src="img/ayo.png">
            </div>

            <div class="logged-user-info-w">
                <div class="logged-user-name">Ayo Akoduba</div>

                <div class="logged-user-role">CFAO Admin</div>
            </div>

        </div>

        <ul class="main-menu">
            <li>
                <a href="boi_admin_dashboard.html">
                    <div class="icon-w">
                        <div class="ti-dashboard"></div>
                    </div>
                    <span>Dashboard</span></a>
            </li>

            <li>
                <a href="boi_user_management.html">
                    <div class="icon-w">
                        <div class="ti-location-pin"></div>
                    </div>
                    <span>Locations</span></a>
            </li>

            <li>
                <a href="boi_beneficiary_breakdown.html">
                    <div class="icon-w">
                        <div class="icon-people"></div>
                    </div>
                    <span>Members</span></a>
            </li>

            <li>
                <a href="boi_loan_performance.html">
                    <div class="icon-w">
                        <div class="icon-user-follow"></div>
                    </div>
                    <span>Admins</span></a>
            </li>

            <li>
                <a href="boi_mou_document.html">
                    <div class="icon-w">
                        <div class="icon-basket-loaded"></div>
                    </div>
                    <span>Products</span></a>
            </li>

            <li>
                <a href="boi_mou_document.html">
                    <div class="icon-w">
                        <div class="icon-docs"></div>
                    </div>
                    <span>Reports</span></a>
            </li>

            <li>
                <a href="login.html">
                    <div class="icon-w">
                        <div class="ti-power-off"></div>
                    </div>
                    <span>Log Out</span></a>
            </li>


        </ul>
    </div>
</div>